:root {
  --family-Prata: "Prata", serif;
  --family-Arial-Italic: "Arial-italic", sans-serif;
  --family-Arial-Regular: "Arial-regular", sans-serif;
  --family-Arial-Bold: "Arial-bold", sans-serif;
  --color-body: #fff;
}
